body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
    background-color: #534e4e;
  }

  .login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 350px;
    max-width: 80%;
    animation: moveAndOscillate 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }

  @keyframes moveAndOscillate {
    0% {
      opacity: 0;
      transform: translateY(50px) rotate(-2deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #534e4e;
  }

  .login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }

  .login-container input:focus {
    outline: none;
    border-color: #007bff;
  }

  .login-container button {
    width: 100%;
    padding: 12px;
    background-color: rgb(10, 10, 10);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }

  .login-container button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
  }

  .options a {
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .options a:hover {
    text-decoration: underline;
  }