<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pegar ID</title>
</head>
<body>
    <h1>Pegar ID</h1>
    <form action="/processar" method="POST">
    <select name="id_usuario">
      {% for usuario in usuarios %}
        <option value="{{ usuario.get_idusuario() }}">{{ usuario.get_login() }}</option>
      {% endfor %}
    </select>
    <button type="submit">Selecionar</button>
    <p>{{ id_selecionado }}</p>
  </form>
</body>
</html>
