.navbar-header {
  width: 29.17%;
  position: fixed ;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000000;
}

.foto-perfil {
  width: ;
  height: ;
  border-radius: ;
  border: ;
  display: ;
  justify-self: center;
}