.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center; 
}
#Periodo {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

.simulador form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}