<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/logincadastrar.css')}}">
  <link rel="icon" href="{{url_for('static', filename='imagens/icone.jpg')}}">

  <title>Cadastro</title>
  
</head>
<body>
  <div class="login-container">
    <h2>Tela de cadastro</h2>
    <form action="/cadastrar" method="post">
      <input type="text" name="nome" id="nome" placeholder="Usuário" required>
      <input type="email" name="email" id="email" placeholder="E-mail" required>
      <input type="password" name="senha" id="senha" placeholder="Senha" required>
      <button type="submit"> <strong>E N T R A R</strong></button>
    </form>
    <p> {{ resposta }} </p>
    <div class="options">
      <a href="/login" id="signup-link">Fazer Login</a>
     
    </div>
  </div>
  
  <script>
    const body = document.body;
    const signupLink = document.getElementById('signup-link');

    signupLink.addEventListener('click', function(event) {
      event.preventDefault();
      
      // Primeira parte da transição: muda para a cor azul
      body.style.backgroundColor = '#534e4e';

      // Aguarda um curto período de tempo para a transição ser visível
      setTimeout(function() {
        // Redireciona para a página após a transição
        window.location.href = signupLink.getAttribute('href');
      }, 500); // Tempo de espera para a primeira parte da transição
    });
  </script>
  </script>
</body>
</html>
