<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C_Pergunta</title>
</head>
<body>
    <h3>Cadastar pergunta</h3>
    <form action="/cadastrar_pergunta_enviar" method="POST">
        <label for="textopergunta">Descrição da pergunta:</label>
        <input type="text" name="textopergunta" id="textopergunta" required placeholder="Texto da pergunta">
        <label for="alt1">Alternativa 1</label>
        <input type="text" name="alternativa1" id="alt1" required placeholder="Alternativa1">
        <label for="alt2">Alternativa 2</label>
        <input type="text" name="alternativa2" id="alt2" required placeholder="Alternativa2">
        <label for="alt3">Alternativa 3</label>
        <input type="text" name="alternativa3" id="alt3" required placeholder="Alternativa3">
        <label for="alt4">Alternativa 4</label>
        <input type="text" name="alternativa4" id="alt4" required placeholder="Alternativa4">
        <label for="resposta">Resposta</label>
        <input type="text" name="resposta" id="resposta" required placeholder="Resposta">
        <select name="id_tipopergunta">
            {% for tipopergunta in tipoperguntas %}
              <option value="{{ tipopergunta.get_idtipopergunta() }}">{{ tipopergunta.get_nometipopergunta() }}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>