<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
</head>
<body>
    <h1>Confirmação para deletar</h1>
    <h3>Confirme quem é você!</h3>
    <form action="/deletar" method="post">
        <label for="login_delet">Email</label>
        <input type="email" name="login_delet" id="login_delet" required placeholder="Email">
        <label for="nome_delet">Nome De Usuario</label>
        <input type="text" name="nome_delet" id="nome_delet" required placeholder="Nome">
        <label for="senha_delet">Senha</label>
        <input type="password" name="senha_delet" id="senha_delet" required placeholder="Senha">
        <p> {{ resposta }} </p>
        <button type="submit">Confirme</button>
    </form>
</body>
</html>