<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Informações</title>
</head>
<body>
    <h1>Editar Informações</h1>
    <h3>Você só pode editar uma informação por vez!</h3>
    <form action="/editar_login" method="post">
        <label for="login_up">Login</label>
        <input type="email" name="login_up" id="login_up">
        <button type="submit">Alterar email</button>
        <p>{{ resposta_login }}</p>
    </form>
    <form action="/editar_nome" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <button type="submit">Alterar Nome</button>
        <p>{{ resposta_nome }}</p>
    </form>
    <form action="/editar_senha" method="post">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <button type="submit">Alterar senha</button>
        <p> {{ resposta_senha }} </p>
    </form>
</body>
</html>