<!DOCTYPE HTML>	

<html>

<head>
	<title>Dinv bag</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<link rel="icon" href="{{url_for('static', filename='imagens/icone.jpg')}}">
	<noscript>
		<link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}">
	</noscript>
</head>

<body class="is-preload">

	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Início</a></li>
					<li><a href="#one">Categorias</a></li>
					<li><a href="#three">Fale conosco</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Dinv Bag</h1>
				<p>Descubra uma maneira de aumentar o dinheiro, chamada investimento. Esse método existe a muito tempo e é aplicado por muitos, e também desconhecido por muitos.</a><br />
					<p> Venha saber mais!</p>
					<ul class="actions">
						<li><a href="/cadastro" class="button scrolly">Entrar</a></li>
					</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style2 spotlights">
			<section>
				<a href="#" class="image"><img src="{{url_for('static', filename='imagens/tesouro.jpg')}}" alt="" data-position="center center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Tesouro Selic</h2>
						<p>Entre e saiba como funciona um investimento seguro.
						</p>
						<ul class="actions">
							<li><a href="/tesouro" class="button">Saiba mais!</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="{{url_for('static', filename='imagens/cdb.jpg')}}" alt="" data-position="top center" /></a>
				<div class="content">
					<div class="inner">
						<h2>CDB</h2>
						<p>Entre e saiba como emprestar o seu dinheiro ao banco em troca de remuneração.</p>
						<ul class="actions">
							<li><a href="/cbd" class="button">Saiba mais!</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="{{url_for('static', filename='imagens/acoes.jpg')}}" alt="" data-position="25% 25%" /></a>
				<div class="content">
					<div class="inner">
						<h2>Ações</h2>
						<p>Entre e saiba o que são ações e como ganhar retorno com isso.</p>
						<ul class="actions">
							<li><a href="/acoes" class="button">Saiba mais!</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="{{url_for('static', filename='imagens/fundoPapel.jpg')}}" alt="" data-position="25% 25%" /></a>
				<div class="content">
					<div class="inner">
						<h2>Fundo Imobiliário</h2>
						<p>Entre e saiba como funciona um empréstimo para uma imobiliária.</p>
						<ul class="actions">
							<li><a href="/fundo" class="button">Saiba mais!</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Two -->

		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Entre em contato</h2>
				<p>Estamos dispostos a sanar as dúvidas indivíduais de todos. Fale conosco atravéz de alguma rede social abaixo :</p>
				<div class="split style1">
					
					<section>
						<ul class="contact">
							
							<li>
								<h3>Email</h3>
								<a href="#">renatosantosfilho2005@gmail.com</a>
								<br>
								<a href="#">netoverso1@gmail.com</a>

							</li>
							<li>
								<h3>Social</h3>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span
												class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/renatinho.santos.31542841" target="_blank" class="icon brands fa-facebook-f"><span
												class="label">Facebook</span></a></li>
								
									<li><a href="https://www.instagram.com/renatosantosf_/"  target="_blank" class="icon brands fa-instagram"><span
												class="label">Instagram</span></a></li>
									
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/util.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html> 