<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form action="/singup" method="post" >
        <h1>Sing Up</h1>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>
        <label for="nome">login</label>
        <input type="email" id="login" name="login" required>
        <label for="nome">senha</label>
        <input type="password" id="senha" name="senha" required>
        <h3>{{ resposta }}</h3>
        <button type="submit">Enviar</button>
    </form>
    <div><a href="/listar">listar</a></div>
    <div><a href="/logar">login</a></div>
    <div><a href="/pegar_id">pegarid</a></div>
    <div><a href="/conf_user">conf_user</a></div>
    <div><a href="/delet">Deletar</a></div>
</body>
</html>