<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/pergunta.css">
</head>
<body>
    <div class="pergunta-container" >
        <h1 ><strong> </strong>QUESTIONARIO CDB</strong></h1>
        <h2><strong> </strong>Pergunta 01</strong></h2>
    <p>O Certificado de Depósito Bancário (CDB) é um título de crédito, ou seja,
         uma promessa de pagamento futuro de um determinado valor acrescido de uma rentabilidade convencionada. 
        Na prática, ele representa uma dívida que o banco tem junto ao investidor no intuito de captar recursos financeiros.</p>
    <br>
    <button type="submit"> <strong>alternativa 1</strong></button>
    <br>  
    <br>
    <button type="submit"> <strong>alternativa 2</strong></button>
    <br> 
    <br>
    <button type="submit"> <strong>alternativa 4</strong></button>
    <br> 
    <br>
    <button type="submit"> <strong>alternativa 3</strong></button>
    <br>   
</div>

<br>

<div class="pergunta-container2" >
    
    <h2><strong> </strong>Pergunta 01</strong></h2>
<p>O Certificado de Depósito Bancário (CDB) é um título de crédito, ou seja,
     uma promessa de pagamento futuro de um determinado valor acrescido de uma rentabilidade convencionada. 
    Na prática, ele representa uma dívida que o banco tem junto ao investidor no intuito de captar recursos financeiros.</p>
<br>
<button type="submit"> <strong>alternativa 1</strong></button>
<br>  
<br>
<button type="submit"> <strong>alternativa 2</strong></button>
<br> 
<br>
<button type="submit"> <strong>alternativa 4</strong></button>
<br> 
<br>
<button type="submit"> <strong>alternativa 3</strong></button>
<br>   
</div> -->
    
</body>
</html>